@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.react-calendar {
  width: 75%;
  background-color: #fff;
  color: #222;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: "Roboto", sans-serif;
  line-height: 1.125em;
  margin: 0 auto;
}

.react-calendar__viewContainer {
  margin-top: 10px;
  padding-bottom: 20px;
}

.react-calendar__navigation {
  text-align: center;
  padding: 10px;
}
.react-calendar__navigation button {
  color: #0b0b0b;
  min-width: 44px;
  background: none;
  font-size: 20px;
  font-weight: bolder;
  margin: 10px;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
abbr[title] {
  text-decoration: none;
}

.react-calendar__month-view__weekdays__weekday {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
}

.react-calendar__month-view__days__day {
  margin-top: 10px;
  margin-bottom: 10px;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #f8f8fa;
  color: #ed9c99;
  border-radius: 10px;
}
.react-calendar__tile--now {
  background: #ed9c99;
  border-radius: 10px;
  font-weight: bold;
  color: #0b0b0b;
  text-align: center;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #bfed99;
  border-radius: 6px;
  font-weight: bold;
  color: white;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
}
.react-calendar__tile--active {
  background: #addce7;
  border-radius: 6px;
  font-weight: bold;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #bfed99;
  color: white;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
}
