@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "EricaOne";
  src: url("./assets/fonts/EricaOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
