@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "EricaOne";
  src: url("./assets/fonts/EricaOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #f7e8ff;
}
